* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding: 10px;
    background-color: #DC143C;
    color: white;
    font-size: 3rem;
}

table {
    margin: 0 auto;
    width: 50%;
    font-size: 1.75rem;
    text-align: center;
}

thead {
    background-color: #0000FF;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

tr, td {
    border: 2px solid black;
    padding: 3px;
}

.tags {
    background-color: #8B008B;
    color: white;
    font-family: monospace, san-serif;
    font-weight: bold;
}